@media (max-width: 52em) {
  .container {
    flex-direction: column;
    gap: 3.2rem;
    max-width: 50rem;
  }

  .parameters__wrapper {
    gap: 3.2rem;
  }

  .tip__options {
    grid-template-columns: repeat(2, 1fr);
  }

  .totals__container {
    gap: 3.2rem;
  }

  .tip__amount .total,
  .total__amount .total {
    font-size: 3.2rem;
  }
}
